.block{
  width: 90%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  padding: 70px;
  border-radius: 20px;
  background: #E3F1FF;
  margin: auto;

  .text{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;

    p{
      margin-top: 10px;
      font-size: 14px;
      margin-bottom: 10px;
    }
    h1{
      font-size: 57px;
      line-height: 68px;
    }

    span{
      font-size: 17px;
      width: 90%;
      line-height: 28px;
    }

    button{
      display: inline-flex;
      padding: 18px 52.16px 18px 52px;
      border-radius: 12px;
      background: #3D3BFF;
      border: 1px solid transparent;
      cursor: pointer;
      color: white;
      transition: .1s;
      font-size: 17px;
      font-weight: 500;
      &:hover{
        background-color: rgba(63, 42, 255, 0.6);
      }
    }

  }

  .photo{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .percent{
      width: 100%;
      gap: 20px;
      height: 68px;
      border-radius: 100px;
      background-color: #FFF705;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 10px;

      img{
        width: 40px;
        height: 40px;
      }

      div{
        width: 80%;
        height: 68px;
        gap: 5px;
        justify-content: center;
        display: flex;
        flex-direction: column;
      }
    }

    img{
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .block{
    padding: 20px;
    height: auto !important;
    flex-direction: column;
    margin:40px auto;
    border-radius: 10px;

    .text{
      width: 100%;

      h1{
        font-size: 49px;
        line-height: 55px;
      }

      span{
        width: 100%;
      }

      button{
        width: 100%;
      }
    }


    .photo{
      width: 100%;
      margin: 20px 0;
    }

  }

}