nav{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;

  .logo{
    margin-bottom: 40px;
    margin-left: -60px;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    ul{
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      a{
        text-decoration: none;
        color: black;
        font-size: 16px;
      }
    }

    .course-btn{
      padding: 11px 30.8px 12px 31px;
      border-radius: 100px;
      background-color: transparent;
      font-size: 13px;
      margin: 0 20px;
      border: 1px solid #3F2AFF;
    }

    .language{
      display: flex;
      align-items: center;
      gap: 20px;
      button{
        cursor: pointer;
        background-color: transparent;
        border: 1px solid transparent;
      }
    }
  }
}
.responseNavbar{
  display: none;
}


@media (max-width: 600px) {
  nav{
    width: 90%;
    flex-direction: column;
    padding: 0;
    margin: auto;
    align-items: start;
    display: none;
    .logo{
      margin-left: -50px;
      margin-bottom: 0;
    }

    .menu{
      flex-direction: column;
      align-items: start;
      gap: 20px;
      ul{
        align-items: start;
        flex-direction: column;
        gap: 20px;
      }

      .course-btn{
        margin: 0;
        margin-left: -5px;
      }

      .language{
        display: none;
        button{
        font-size: 18px;

        }
      }
    }
  }


  .responseNavbar{
    width: 100%;
    height: 60px;
    display: flex;

    #nav-check{
      display: none;
    }
    .header{
      width: 100%;
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: space-between;
      img{
        margin-left: -40px;
        margin-top: -35px;
      }
        label{
          width: 70px;
          height: 55px;
          background-color: #f3f3f3;
          border-radius: 8px;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          span{
            width: 70%;
            height: 3px;
            background-color: #F9C014;
          }
        }
      }

    .menu-item{
      width: 100% ;
      display: block;
      flex-direction: column;
      padding-left: 6px;
      align-items: start;
      transition: all .5s ease-in;
      gap: 20px;

      ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        a{
          color: black;
          transition: .3s;
          text-decoration: none;
          &:hover{
            color: #F9C014;
          }
        }

      }
      .course-btn{
        padding: 11px 30.8px 12px 31px;
        border-radius: 100px;
        background-color: transparent;
        font-size: 13px;
        border: 1px solid #3F2AFF;
        transition: .3s;
        &:hover{
          background-color: #3F2AFF;
          color: white;
        }
      }

      .language{
        display: flex;
        gap: 20px;
        button{
          font-size: 18px;
          background-color: transparent;
          border-color: transparent ;
          cursor: pointer;
        }
      }

    }
    }


    #nav-check:not(:checked) ~ .menu-item{
      opacity: 0;
    }
    #nav-check:checked ~ .menu-item{
      width: 100%;
      opacity: 1;
    }


  }
